html {
    font-size: 100%;
}

body {
    margin-top: 40px;
    padding: 0 4%;
    background-color: #e5e5e5;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

.img-wrapper > img {
    width: 100%;
}

.name-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 80px;
    margin-top: 40px;
}
