body {
    background-color: #e5e5e5;
}

h1 {
    text-align: center;
}

.img-wrapper {
    max-width: 400px;
    min-width: 320px;
    width: 96%;
}

.img-wrapper > img {
    width: 100%;
}

.name-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 40px;
}
